[submodule "deps/jsdom"]
	path = deps/jsdom
	url = git://github.com/tmpvar/jsdom.git
[submodule "deps/jquery"]
	path = deps/jquery
	url = git://github.com/jquery/jquery.git
[submodule "tools/ronnjs"]
	path = tools/ronnjs
	url = http://github.com/kapouer/ronnjs.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
